@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Nunito:ital,wght@0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Nunito';
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

*::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px black;  */
  border-radius: 10px;
  background-color: black; 
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  box-shadow: inset 0 0 10px black;
  border-radius: 14px;
}

.card {
@apply bg-white rounded overflow-hidden shadow-md relative
}

.badge {
@apply bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2 flex flex-row 
}

.btn {
@apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider
}

.menuBorderRed {
@apply px-4 flex justify-end border-r-4  border-primary
}

.menuBorderBlack {
@apply px-4 flex justify-end border-r-4  border-black
}


.shadow {
   box-shadow: 0px 0px 4px rgb(0,0,0, 0.4);

}

.shadow:hover {
   box-shadow: 0px 0px 18px rgb(0,0,0, 0.4);
}